.auto-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1em;
}
.auto-content:last-of-type {
    margin-bottom: 0;
}
.auto-content-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.auto-content-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1em;
}
.auto-content-item:last-child, .auto-content-gallery:last-child {
    margin-bottom: 0;
}
.auto-content-item-link {
    font-size: var(--h4-size);
    font-weight: bold;
    text-decoration: none;
    color: var(--accent-clr);
    width: fit-content;
}
.auto-content-item-link:hover {
    text-decoration: underline;
}
.auto-content-item-link:active {
    color: var(--accent-clr2);
}
.auto-content-item-date, .auto-content-gallery-date {
    color: var(--bg-clr4);
    font-style: italic;
    margin-bottom: .5em;
    font-size: var(--tiny-size);
}
.auto-content-item-content {
    font-family: var(--serif);
}

.auto-content-container:first-child {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.auto-content-gallery {
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 200px;
}
.auto-content-gallery-link {
    color: var(--txt-clr);
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: var(--border);
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.auto-content-gallery-link:hover {
    background-color: var(--bg-clr2);
}
.auto-content-gallery-link:active {
    background-color: var(--bg-clr3);
}
.auto-content-gallery-title-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}
.auto-content-gallery-title-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.auto-content-gallery-wrapper {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auto-content-gallery-title {
    font-size: var(--h4-size);
    font-weight: bold;
}

@media (max-width:925px) {
    .auto-content-gallery {
        width: 45%;
    }
}

@media (max-width:395px) {
    .auto-content-gallery {
        width: 100%;
        margin: 1em;
    }
}