body::-webkit-scrollbar, .sidebar::-webkit-scrollbar, #search::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb, #search::-webkit-scrollbar-thumb {
  background-color: transparent;
}

body::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track, #search::-webkit-scrollbar-track {
  background-color: transparent;
}
body, .sidebar, #search {
  scrollbar-width: none;
}
body, .sidebar, #search {
  overflow: -moz-scrollbars-none;
}