<!DOCTYPE html>
<html>
    <head>
        {{partial "head.html" .}}
        <script type="text/javascript" src="/js/gallery.js" defer></script>
    </head>
    <body>
        <div class="body-content-container">
            <div class="body-content">
                <div class="column" id="sidebar-column">
                    <div class="sidebar">
                        {{partial "sidebar.html" .}}
                    </div>
                </div>
                <div class="column" id="nav-content-column">
                    <div class="navbar">
                        {{partial "navbar.html" .}}
                    </div>
                    <div class="page-content">
                        <div class="page-header">
                            {{.Title}}
                        </div>
                        <main>
                            {{.Content}}
                            <div class="gallery">
                                <article class="gallery-content">
                                    {{$imgsPath := (printf "media/img/gallery/%s" .Params.gallery )}}
                                    {{$imgs := readDir (printf "static/%s" $imgsPath)}}
                                    {{range $index, $img := $imgs}}
                                        {{$imgURL := (printf "/%s/%s" $imgsPath $img.Name)}}
                                        <div class="gallery-content-item">
                                            <img src="{{$imgURL}}">
                                        </div>
                                    {{end}}
                                    </article>
                            </div>
                        </main>
                        <footer>
                            {{partial "footer.html" .}}
                        </footer>
                    </div>
                </div>
            </div>
        </div>
        <dialog id="search">
            {{partial "search.html" .}}
        </dialog>
        <dialog id="gallery-view">
            <div class="gallery-view">
                <div class="gallery-view-top">
                    <div class="gallery-view-top-navigation">
                        <button class="go-left-btn">
                            <i class="fa-solid fa-arrow-left"></i>
                        </button>
                        <button class="go-right-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="gallery-view-top-untoggle">
                        <button class="gallery-view-untoggle-btn">
                            <i class="fa-solid fa-xmark"></i>
                        </button>
                    </div>
                </div>
                <div class="gallery-view-content">
                    <div class="gallery-view-img">
                        <img src="">
                    </div>
                </div>
            </div>
        </dialog>
    </body>
</html>