<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{.Title}}</title>

<link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
<link rel="manifest" href="/fav/site.webmanifest">

<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/sidebar.css">
<link rel="stylesheet" href="/css/page-content.css">
<link rel="stylesheet" href="/css/scrollbar.css">
<link rel="stylesheet" href="/css/search.css">
<link rel="stylesheet" href="/css/auto-content.css">
<link rel="stylesheet" href="/css/article.css">
<link rel="stylesheet" href="/css/gallery.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/tags.css">

<script src="https://kit.fontawesome.com/9ab7bfa7fc.js" crossorigin="anonymous"></script>
<script data-goatcounter="https://pgersl.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
<script type="text/javascript" src="/js/sidebar.js" defer></script>
<script type="text/javascript" src="/js/navbar.js" defer></script>
<script type="text/javascript" src="/js/section-highlight.js" defer></script>
<script type="text/javascript" src="/js/theme.js" defer></script>
<script type="text/javascript" src="/js/copy-link.js" defer></script>
<script type="text/javascript" src="/js/search.js" defer></script>

{{if .Params.toc}}
    <link rel="stylesheet" href="/css/toc.css">
    <script type="text/javascript" src="/js/toc.js" defer></script>
{{end}}